#version: "3.9"

services:
  # 1. PLC SIMULATOR (OPC UA)
  sim-opcua-plc:
    image: node:20-alpine
    container_name: sim-opcua-plc
    working_dir: /app
    volumes:
      - ./sim-opcua-plc:/app
      - /app/node_modules
    command: sh -c "npm install && node server.js"
    ports:
      - "4840:4840"
    networks:
      - iiot-net

  # 2. SIMULATOR 2
  sim-opcua-plc2:
    image: node:20-alpine
    container_name: sim-opcua-plc2
    working_dir: /app
    volumes:
      - ./sim-opcua-plc:/app
      - /app/node_modules
    command: sh -c "npm install && node server.js"
    ports:
      - "4841:4840"
    networks:
      - iiot-net

  sim-opcua-plc3:
    image: node:20-alpine
    container_name: sim-opcua-plc3
    working_dir: /app
    volumes:
      - ./sim-opcua-plc:/app
      - /app/node_modules
    command: sh -c "npm install && node server.js"
    ports:
      - "4842:4840"
    networks:
      - iiot-net

  sim-opcua-plc4:
    image: node:20-alpine
    container_name: sim-opcua-plc4
    working_dir: /app
    volumes:
      - ./sim-opcua-plc:/app
      - /app/node_modules
    command: sh -c "npm install && node server.js"
    ports:
      - "4843:4840"
    networks:
      - iiot-net

  sim-opcua-plc5:
    image: node:20-alpine
    container_name: sim-opcua-plc5
    working_dir: /app
    volumes:
      - ./sim-opcua-plc:/app
      - /app/node_modules
    command: sh -c "npm install && node server.js"
    ports:
      - "4844:4840"
    networks:
      - iiot-net

  sim-opcua-plc6:
    image: node:20-alpine
    container_name: sim-opcua-plc6
    working_dir: /app
    volumes:
      - ./sim-opcua-plc:/app
      - /app/node_modules
    command: sh -c "npm install && node server.js"
    ports:
      - "4845:4840"
    networks:
      - iiot-net     
# EDGE / INTEGRATION


  edge-node-red:
    build: ./node-red
    container_name: edge-node-red
    user: root
    volumes:
      - node-red-data:/data
      - ./node-red/flows:/data/flows
      - cfg-data:/data/config_db  # <-- BU SATIRI EKLE
    ports:
      - "1880:1880"
      - "1881:1881"
    depends_on:
      - sim-opcua-plc
      - data-influxdb
      - cfg-db
    networks:
      - iiot-net

  # 3. TIME-SERIES DB (InfluxDB)
  data-influxdb:
    image: influxdb:2.7
    container_name: data-influxdb
    volumes:
      - influx-data:/var/lib/influxdb2
    environment:
      - INFLUXDB_INIT_MODE=setup
      - INFLUXDB_INIT_USERNAME=admin
      - INFLUXDB_INIT_PASSWORD=admin123
      - INFLUXDB_INIT_ORG=iiot
      - INFLUXDB_INIT_BUCKET=machine_metrics
    ports:
      - "8086:8086"
    networks:
      - iiot-net

  # 4. DASHBOARD (Grafana)
  viz-grafana:
    image: grafana/grafana:10.2.3
    container_name: viz-grafana
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3001:3000"
    depends_on:
      - data-influxdb
    networks:
      - iiot-net

  # CONFIG DATABASE (SQLite)
  cfg-db:
    image: nouchka/sqlite3
    container_name: cfg-db
    volumes:
      - cfg-data:/data
    networks:
      - iiot-net

  # 6. ADMIN PANEL 
  cfg-admin-ui:
    image: node:20-alpine
    container_name: cfg-admin-ui
    working_dir: /app
    volumes:
      - ./admin-ui:/app
      - cfg-data:/data
      - /app/node_modules # <--- KORUMA KALKANI 2: Windows sqlite3'ü Docker'ı bozmasın
    command: sh -c "npm install && npm run dev"
    ports:
      - "8080:3000"
    environment:
      - CONFIG_DB_PATH=/data/config.db
    depends_on:
      - cfg-db
    networks:
      - iiot-net

networks:
  iiot-net:
    driver: bridge

volumes:
  node-red-data:
  influx-data:
  grafana-data:
  cfg-data: